*{
    margin: 0;
    padding: 0;
}

section {
    height: 850px;
    width: 480px;
    border: 2px solid #ccc;
    justify-content: center;
    align-items: center;
    background-image: url(food.jpg);
    border-radius: 8px;
    background-repeat: no-repeat; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-left: 300px; 
    padding-top: 30px;   
} 
image{
    width: 100px;
}  
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
   
    
    
    
}
    span{
    color: white;
}
.container h1{
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
    font-size: 10px;
    
}
.navbar ul li{
    display: inline-flex;
    padding: 4px;
    text-transform: capitalize;
    font-size: 10px;
                                        
}
.navbar ul li a{
    color: white;
    padding: 4px;
    transition: 2.5s;
    text-decoration: none;
    
}
.navbar ul li a:hover{
    box-shadow: 0 3px 20px orangered;
}

.navbar .reservation{
    padding: 1px;
    background-color: orangered;


}
.content{
    color: black;
    margin-top: 40px;
    text-align: center;
}

.content h3{font-family: sans-serif;
    font-size: 20px;

}

.container h1{
    font-size: 15px;

}
.content p{
    text-align: center;
    margin-top: 17px;
    font-size: 14px;
}

.about-inner-content{
    width: 80%;
    padding-top: 3rem;
    align-items: center;
    margin-left: 10px;
}
.about-text-content h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-left: 10px;

}
.about-text-content p{
    color: aquamarine;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
}

.contact{
    padding: 25px 0 25px 0;
    margin-top: 20px;

}
#contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}
.contact h1{
    text-align: center;
    color: black;
    margin-bottom: 20px;
    
}
.contact-col{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.contact-col form{
    display: flex;
    flex-direction: column;
    background-color: orangered;
    width: 120%;
    padding: 20px 40px 20px 20px;
    border-radius: 8px;
}

.contact-col form h2{
    text-align: center;
    font-family: cursive;

}
.contact-col form input{
    width: 100%;
    height: 15pt;
    padding: 5px;
    margin: 5px;
}

.contact-col form textarea{
    width: 99%;
    padding: 10px;
    margin-bottom: 5px;
}

.contact-col form button{
    cursor: pointer;
    margin: auto;
    background-color: orange;
    color: #fff;
    padding: 10px;
    border: 1px solid orange;
}


 
    
 @media body and (max-width : 768px){


    .contact{
        padding: 10px;
    }
    .container{

    }
    
 }
